@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --cor_principal: #2764e8;
    --cor_secundaria: #071e52;
    --cinza_azulado: #2b3447;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    font-family: 'Quicksand', sans-serif;
}