@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --fundo_principal: #e6ebf0;
    --cor_principal: #2764e8;
    --cor_secundaria: #071e52;
    --cinza_azulado: #2b3447;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

/*Animação*/

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--fundo_principal)
}

.fa-s {
    color: var(--cor_principal);
}

.titulo {
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    position: relative;
}

.ti-header i {
    font-size: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.titulo .ti-header {
    display: inline;
}

.titulo .ti-header .ti-logo {
    display: inline-block;
    margin-top: -7px;
}

.titulo .ti-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.titulo .ti-links {
    display: inline-block;
    padding: 5px 15px;
    margin-left: 20px;
    font-size: 17px;
}

.titulo .ti-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: var(--cor_principal);
}

.titulo .ti-links i {
    font-size: 30px;
}



.titulo #ti-check,
.titulo .ti-btn {
    display: none;
}


@media (max-width:1024px) {
    .titulo {
        background-color: var(--cor_secundaria);
    }

    .titulo .ti-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .titulo .ti-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .titulo .ti-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 3px solid #eee;
    }

    .titulo .ti-btn label:hover,
    .titulo #ti-check:checked~.ti-btn label {
        background-color: var(--cor_do_titulo);
        transition: all 0.5s ease;
    }

    .titulo .ti-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: var(--cor_do_titulo);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .titulo .ti-links a {
        display: block;
    }

    .titulo #ti-check:not(:checked)~.ti-links {
        height: 0px;
    }


    .titulo #ti-check:checked~.ti-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .titulo .ti-links {
        padding: 10px 40px;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: var(--cor_do_titulo);
    }

}

.dropdown {
    position: relative;
    display: inline-block;
}

.conteudo-drop,
.conteudo-drop2 {
    display: none;
    position: absolute;
    background-color: var(--cor_secundaria);
    min-width: 120px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .conteudo-drop,
.dropdown2:hover .conteudo-drop2 {
    display: block;
}

.conteudo-drop a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
}

.dropBtn .conteudo-drop a:hover {
    background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown2 .conteudo-drop2 {
    position: absolute;
    right: 120px;
    top: 150px;
}

.dropBtn2 i {
    margin-left: 15px;
}

/*Nome da empresa*/

.nome {
    height: 70px;
    width: 100%;
    position: relative;
    animation: transitionIn 0.75s;
}

.geral {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nome-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome-logo i {
    font-size: 150px;
    color: var(--cor_secundaria);
}

.nome-logo h1 {
    color: var(--cor_principal);
    font-size: 80px;
}

.nome-logo p:nth-child(3) {
    font-size: 15px;
    color: var(--cor_principal);
}

.nome-logo h3 {
    font-size: 30px;
}

.nome-logo a {
    color: black;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--cor_principal);
}

@media (max-width:1024px) {
    .geral img {
        display: none;
    }
}

@media (max-width:425px) {
    .nome-logo h3 {
        font-size: 25px;
    }
}

.nome-logo p:nth-child(5) {
    font-size: 15px;
}

@media (max-width: 325px) and (min-width:200px) {
    .nome-logo p:nth-child(5) {
        font-size: 8px;
        font-weight: 900;
    }

}

@media (max-width: 385px) and (min-width:370px) {
    .nome-logo p:nth-child(5) {
        font-size: 10px;
        font-weight: 900;
    }
}

@media (max-width: 600px) and (min-width:390px) {
    .nome-logo p:nth-child(5) {
        font-size: 11px;
        font-weight: 900;
    }
}

@media (max-width:325px) {
    .nome-logo h3 {
        font-size: 20px;
    }
}

.formulario {
    padding-bottom: 50px;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Sources/advogado.jpg);
    background-repeat: no-repeat;
    background-size: 170vw 250vh;
}

.for-titulo {
    font-size: 30px;
    font-weight: bold;
}

.for-titulo h1:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-titulo h1:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-input {
    border: 1px solid var(--cinza_azulado);
    border-radius: 5px;
}

.for-input:nth-child(1) {
    font-size: 15px;
    width: 25vw;
    height: 5vh;
}

.for-input:nth-child(2) {
    width: 25vw;
    height: 5vh;
}

.for-input:nth-child(4) {
    resize: none;
    font-size: 20px;
    width: 50.2vw;
    height: 20vh;
}

.for-btn {

    height: 5vh;
    width: 50.2vw;
    border: 1px solid var(--cinza_azulado);
    border-radius: 7px;
    background-color: var(--cor_secundaria);
    color: white;
}

@media (max-width:1024px) {
    .formulario {
        height: auto;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./Sources/advogado.jpg);
        background-repeat: no-repeat;
        background-size: 200vw 150vh;
    }

    .for-titulo {
        font-size: 14px;
        font-weight: bold;
    }
}

@media (max-width: 325px) and (min-width:200px) {
    .for-titulo {
        font-size: 11px;
        font-weight: bold;
        color: white;
    }
}

@media (max-width: 385px) and (min-width:370px) {
    .for-titulo {
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width:650px) {
    .for-input:nth-child(1) {
        font-size: 15px;
        width: 50vw;
        height: 5vh;
    }

    .for-input:nth-child(2) {
        width: 48vw;
        height: 5vh;
    }

    .for-input:nth-child(4) {
        resize: none;
        font-size: 20px;
        width: 99vw;
        height: 20vh;
    }

    .for-btn {

        height: 5vh;
        width: 99vw;
        border: 1px solid var(--cinza_azulado);
        border-radius: 7px;
        background-color: var(--cor_secundaria);
        color: white;
    }
}

.atuacao {
    height: auto;
    width: 100%;
    position: relative;
}

.atuacao h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    font-size: 40px;
    font-weight: bold;
    color: var(--cor_secundaria);
}

.atuacao p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.atuacao p:nth-child(3) {
    padding-bottom: 30px;
}

.servicos {
    width: 10vw;
    height: 10vh;
}

.grid-do-servicos-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-do-servicos-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 270px;
}


.servicos img {
    width: 10vw;
    height: 30vh;
    border-radius: 15px 15px 0px 0px;
}

.servicos p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #929487;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px black;
}

.grid-do-servicos-1 .servicos p:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.grid-do-servicos-2 .servicos p:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}



.servicos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #2764e8;
    color: white;
    padding: 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

@media (max-width:650px) {
    .atuacao p {
        font-size: 10px;
    }

    .grid-do-servicos-1 {
        display: flex;
        flex-direction: column;
    }

    .grid-do-servicos-2 {
        display: flex;
        flex-direction: column;
        padding-top: 340px;
    }

    .servicos {
        width: 60vw;
        height: 40vh;

    }

    .servicos:nth-child(2) {
        padding-top: 120px;
    }

    .servicos:nth-child(3) {
        padding-top: 230px;
    }

    .servicos img {
        width: 60vw;
        height: 40vh;
        border-radius: 15px 15px 0px 0px;
    }

}

@media (max-width: 1024px) and (min-width:670px) {
    .servicos {
        width: 30vw;
        height: 10vh;

    }

    .servicos img {
        width: 30vw;
        height: 35vh;
        border-radius: 15px 15px 0px 0px;
    }
}

@media (max-width: 1500px) and (min-width:1200px) {
    .servicos {
        width: 20vw;
        height: 20vh;

    }

    .servicos img {
        width: 20vw;
        height: 40vh;
        border-radius: 15px 15px 0px 0px;
    }
}


@media (max-width: 350px) and (min-width:200px) {
    .atuacao h1 {
        font-size: 35px;
    }
}

.oab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    height: auto;
    width: 100%;
    position: relative;
}

.foto-da-oab{
    padding-top: 50px;
    padding-right: 350px;
    padding-left: 250px;
}

.foto-da-oab img {
    height: 40vh;
    width: 20vw;
}

.oab-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20vw;
    background-color: var(--cor_principal);
    padding: 15px 15px 15px 15px;
}

.oab-id h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.oab-id h2:nth-last-child(1) {
    color: var(--cor_secundaria);
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b3447;
    padding-left: 50px;
    width: 70vw;
    height: auto;
    padding-top: 120px;
    padding-bottom: 150px;
}

.descricao i{
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 80px;
    color: var(--fundo_principal);
}

.descricao p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--fundo_principal);
    font-size: 25px;
    width: 40vw;
}

.descricao hr{
    width: 40vw;
}

.descricao a{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: var(--fundo_principal);
    background-color: var(--cor_principal);
    width: 40vw;
}

/*Animação*/
.revelacao {
    position: relative;
    opacity: 0;
}

.revelacao.ativo {
    opacity: 1;
}

.ativo.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
}

.ativo.fade-left {
    animation: fade-left 0.5s ease-in;
}

.ativo.fade-right {
    animation: fade-right 0.5s ease-in;
}